:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  display: flex;
  margin: 32px auto;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}

.example-card {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: .75rem;

  .control {
    width: 220px;
    max-width: 100%;
    margin: 4px 8px 0 0;
  }

  .value {
    width: 220px;
    max-width: 100%;
    margin: 4px 0 0 8px;
    font-weight: bold;
    letter-spacing: 1px;
    word-wrap: break-word;

    &:empty::before {
      content: "ngModel value";
      color: #888;
      letter-spacing: 0;
      font-style: italic;
      font-weight: 300;
    }
  }
}

svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 1920px;
}
